In [8]:
"""
1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year
of your fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 
1983, 1984, 1985].
"""
#Answer:
n=input("Enter your birth year")
if len(n)!=4:
    print("You enter wrong value")

print("The List year is: ")
[int(n)+i for i in range(6)]

Enter your birth year1980
The List year is:

[1980, 1981, 1982, 1983, 1984, 1985]

In [9]:
"""
2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.
"""
#Answer:
print("The third birthday is: ",int(n)+3)

The third birthday is:  1983

In [10]:
"""
3.In the years list, which year were you the oldest?
"""
#Answer:
print("The oldest birthday is: ",int(n)+5)

The oldest birthday is:  1985

In [12]:
"""
4. Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".
"""
#Answer:
things=["mozzarella", "cinderella", "salmonella"]

In [16]:
"""
5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in 
the list?
"""
#Answer:
things[1] = things[1].title()
things

['mozzarella', 'Cinderella', 'salmonella']

In [24]:
"""
6. Make a surprise list with the elements "Groucho," "Chico," and "Harpo."
"""
#Answer:
surprise =["Groucho","Chico" , "Harpo"]
surprise

['Groucho', 'Chico', 'Harpo']

In [28]:
"""
7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.
"""
#Answer:
surprise[-1] = surprise[-1].lower()[::-1].title()
surprise

['Groucho', 'Chico', 'Oprah']

In [31]:
"""
8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, 
cat is chat, and walrus is morse.
"""
#Answer:
e2f={
    "dog":"chien",
    "cat":"chat", 
}
e2f

{'dog': 'chien', 'cat': 'chat'}

In [32]:
"""
9. Write the French word for walrus in your three-word dictionary e2f.
"""
#Answer:
e2f['walrus'] = 'morse'
e2f

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

In [34]:
"""
10. Make a French-to-English dictionary called f2e from e2f. Use the items method.
"""
#Answer:
f2e={
    "chien":"dog",
    "chat":"cat", 
    "morse":"walrus"
}
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

In [35]:
"""
11. Print the English version of the French word chien using f2e.
"""
#Answer:
f2e['chien']

'dog'

In [43]:
"""
12. Make and print a set of English words from the keys in e2f.
"""
#Answer:
e2f.keys()

dict_keys(['dog', 'cat', 'walrus'])

In [39]:
"""
13. Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 
'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 
'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer
to empty dictionaries.
"""
#Answer:
life = { 'animals' : { 'cats' : [ 'Henri', 'Grumpy', 'Lucy' ], 'octopi' : {}, 'emus' : {}  }, 'plants' : {}, 'other' : {} }
life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}},
 'plants': {},
 'other': {}}

In [40]:
"""
14. Print the top-level keys of life.
"""
#Answer:
print(life.keys())

dict_keys(['animals', 'plants', 'other'])

In [41]:
"""
15. Print the keys for life['animals'].
"""
#Answer:
life['animals']

{'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}}

In [42]:
"""
16. Print the values for life['animals']['cats']
"""
#Answer:
life['animals']['cats']

['Henri', 'Grumpy', 'Lucy']