In [ ]:
"""
1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a 
file named test.txt.
"""
outfile = open('test.txt', 'wt')
outfile.write(test)
outfile.close()

In [ ]:
"""
2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?
"""
test2 = open("test.txt", "r")
print(test2.read())

In [ ]:
"""
3. Create a CSV file called books.csv by using these lines:
"""
text = """title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Mi√©ville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992
"""
with open('books.csv', 'wt') as outfile:    
    outfile.write(text)

In [ ]:
"""
4. Use the sqlite3 module to create a SQLite database called books.db, and 
a table called books with these fields: title (text), author (text), and year (integer).
"""

import sqlite3

db = sqlite3.connect('books.db')

cursor = db.cursor()
cursor.execute('''CREATE TABLE books(id INTEGER PRIMARY KEY, title TEXT, author TEXT, year TEXT)''')
db.commit()

In [ ]:
"""
5. Read books.csv and insert its data into the book table.
"""

f = open("books.csv", "r")
for x in f:
    #print(x.replace('\n','').split(','))
    cursor.execute('''INSERT INTO books(title, author, year) VALUES(:title, :author, :year)''',
    {'title':x.replace('\n','').split(',')[0], 'author':x.replace('\n','').split(',')[1],'year':x.replace('\n','').split(',')[2]})

In [ ]:
"""
6. Select and print the title column from the book table in alphabetical order.
"""
for row in db.execute('select title from books order by title asc'):   
    print(row)

In [ ]:
"""
7. From the book table, select and print all columns in the order of publication.
"""
for row in db.execute('select * from books order by year'):
    print(row)

In [ ]:
"""
8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.
"""

import sqlalchemy 
conn = sqlalchemy.create_engine('sqlite:///books.db')
sql = 'select title from book order by title asc'
rows = conn.execute(sql)
for row in rows:
    print(row)

In [ ]:
"""
9. Install the Redis server and the Python redis library (pip install redis) on your computer. 
Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). 
Print all the fields for test.
"""
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

In [ ]:
"""
10. Increment the count field of test and print it.
"""
conn.hincrby('test', 'count', 3)

conn.hget('test', 'count')